button {
  background-color: #bfefff;
  :disabled {
    background-color: #def4ff;
  }
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.25s;
  border: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  height: 45px;
}
