@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

$mobile_breakpoint: 320px;
$tablet_breakpoint: 600px;
$desktop_breakpoint: 1024px;

$font-size-s: 20px;
$font-size-m: 24px;
$font-size-l: 29px;
$primary-font: "Tajawal", serif;
$title-font: "Handlee", serif;

$font-color: #21374c;
$alert-color: #ce2323;
