@use "./shared/variables.scss" as v;

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  word-break: keep-all;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
span,
a,
input,
label,
button {
  font-family: v.$primary-font;
  font-weight: 400;
  color: v.$font-color;
  text-decoration: inherit;
  font-size: 16px;
  &.bold {
    font-weight: bold;
  }
}

h1 {
  font-family: v.$title-font;
  font-size: 2.3rem;
  margin-bottom: 24px;
}

h2 {
  font-family: v.$title-font;
  font-size: 26px;
  margin-bottom: 7px;
}

.align-center {
  text-align: center;
}
